Pandas - Panel Data. A core library to handle structured data in python.
Structured data is just data in tabular form eg EXCEL

In [2]:
import pandas as pd
import os    # This will be used to tell us where the file is

In [3]:
pwd = os.getcwd() # This creates a string of the folder this Python Script is stored in
                  # pwd means present working directory

Series

In [4]:
series_test = list(range(1, 100))   #dtype means data type
pd.Series(series_test)

0      1
1      2
2      3
3      4
4      5
      ..
94    95
95    96
96    97
97    98
98    99
Length: 99, dtype: int64

## Data Frames

In [5]:
filepath = pwd + "/simple_csv.csv"
filepath

'/Users/danielfusi/Documents/PYTHON/simple_csv.csv'

In [6]:
first_import = pd.read_csv(filepath)
first_import

     Column1   Column2   Column3
0   0.280925  0.910368  0.692982
1   0.719882  0.210024  0.761276
2   0.235752  0.059796  0.154667
3   0.603366  0.485614  0.013345
4   0.039985  0.236359  0.811832
5   0.015478  0.543641  0.112719
6   0.192540  0.409874  0.875082
7   0.380921  0.045468  0.515859
8   0.592471  0.786421  0.047249
9   0.072112  0.695694  0.409573
10  0.898072  0.070956  0.209020
11  0.722038  0.211985  0.324164
12  0.513517  0.091548  0.664279
13  0.436729  0.040322  0.548167
14  0.864039  0.963556  0.106398
15  0.724761  0.410422  0.587589
16  0.198926  0.245207  0.767356
17  0.748500  0.019264  0.046678
18  0.920639  0.212611  0.520463
19  0.452024  0.123660  0.847451
20  0.542977  0.265852  0.410926
21  0.355266  0.860616  0.589431
22  0.142688  0.406456  0.204095
23  0.850436  0.129426  0.719027
24  0.443476  0.388967  0.596924
25  0.467100  0.416908  0.098037
26  0.338536  0.935814  0.736899
27  0.942101  0.772005  0.441574
28  0.570130  0.780085  0.085592

In [7]:
first_import = pd.read_csv(filepath, nrows=10)
first_import

    Column1   Column2   Column3
0  0.280925  0.910368  0.692982
1  0.719882  0.210024  0.761276
2  0.235752  0.059796  0.154667
3  0.603366  0.485614  0.013345
4  0.039985  0.236359  0.811832
5  0.015478  0.543641  0.112719
6  0.192540  0.409874  0.875082
7  0.380921  0.045468  0.515859
8  0.592471  0.786421  0.047249
9  0.072112  0.695694  0.409573

## Column

In [8]:
first_import["Column1"]

0    0.280925
1    0.719882
2    0.235752
3    0.603366
4    0.039985
5    0.015478
6    0.192540
7    0.380921
8    0.592471
9    0.072112
Name: Column1, dtype: float64

In [9]:
first_import["New_Column"] = 1
first_import["New_Column 2"] = list(range(10))
first_import

    Column1   Column2   Column3  New_Column  New_Column 2
0  0.280925  0.910368  0.692982           1             0
1  0.719882  0.210024  0.761276           1             1
2  0.235752  0.059796  0.154667           1             2
3  0.603366  0.485614  0.013345           1             3
4  0.039985  0.236359  0.811832           1             4
5  0.015478  0.543641  0.112719           1             5
6  0.192540  0.409874  0.875082           1             6
7  0.380921  0.045468  0.515859           1             7
8  0.592471  0.786421  0.047249           1             8
9  0.072112  0.695694  0.409573           1             9

In [12]:
first_import["New_Column"] = 1
first_import["New_Column 2"] = list(range(10))
first_import["Add to"] = first_import["New_Column"] + first_import["New_Column 2"]   # you can also (*, -, /, %)
first_import

    Column1   Column2   Column3  New_Column 2  Add to  New_Column
0  0.280925  0.910368  0.692982             0       1           1
1  0.719882  0.210024  0.761276             1       2           1
2  0.235752  0.059796  0.154667             2       3           1
3  0.603366  0.485614  0.013345             3       4           1
4  0.039985  0.236359  0.811832             4       5           1
5  0.015478  0.543641  0.112719             5       6           1
6  0.192540  0.409874  0.875082             6       7           1
7  0.380921  0.045468  0.515859             7       8           1
8  0.592471  0.786421  0.047249             8       9           1
9  0.072112  0.695694  0.409573             9      10           1

In [11]:
first_import = first_import.drop(columns="New_Column")
first_import

    Column1   Column2   Column3  New_Column 2  Add to
0  0.280925  0.910368  0.692982             0       1
1  0.719882  0.210024  0.761276             1       2
2  0.235752  0.059796  0.154667             2       3
3  0.603366  0.485614  0.013345             3       4
4  0.039985  0.236359  0.811832             4       5
5  0.015478  0.543641  0.112719             5       6
6  0.192540  0.409874  0.875082             6       7
7  0.380921  0.045468  0.515859             7       8
8  0.592471  0.786421  0.047249             8       9
9  0.072112  0.695694  0.409573             9      10

## ROWS

In [13]:
first_import.loc[:3]   # loc allow the use of names and specify the last int.

    Column1   Column2   Column3  New_Column 2  Add to  New_Column
0  0.280925  0.910368  0.692982             0       1           1
1  0.719882  0.210024  0.761276             1       2           1
2  0.235752  0.059796  0.154667             2       3           1
3  0.603366  0.485614  0.013345             3       4           1

In [14]:
first_import.loc[: 4, ['Column2', 'Add to']]  # loc allow the use of names and specify the last int.

    Column2  Add to
0  0.910368       1
1  0.210024       2
2  0.059796       3
3  0.485614       4
4  0.236359       5

In [15]:
first_import.iloc[:7]    # iloc DOES NOT allow the use of names and DOES NOT specify the last int.

    Column1   Column2   Column3  New_Column 2  Add to  New_Column
0  0.280925  0.910368  0.692982             0       1           1
1  0.719882  0.210024  0.761276             1       2           1
2  0.235752  0.059796  0.154667             2       3           1
3  0.603366  0.485614  0.013345             3       4           1
4  0.039985  0.236359  0.811832             4       5           1
5  0.015478  0.543641  0.112719             5       6           1
6  0.192540  0.409874  0.875082             6       7           1

In [16]:
first_import.iloc[: 6, [0, 3]]  # iloc DOES NOT allow the use of names and DOES NOT specify the last int.

    Column1  New_Column 2
0  0.280925             0
1  0.719882             1
2  0.235752             2
3  0.603366             3
4  0.039985             4
5  0.015478             5

DOWN TO REAL WORLD NETFLIX

In [17]:
netflix = pd.read_csv(pwd + "/netflix_titles.csv")
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [18]:
netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [19]:
list(netflix.columns)    # list out columns

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [20]:
netflix.describe()  # basic descriptive statistics

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

In [21]:
netflix["type"]

0       TV Show
1         Movie
2         Movie
3         Movie
4         Movie
         ...
7782      Movie
7783      Movie
7784      Movie
7785    TV Show
7786      Movie
Name: type, Length: 7787, dtype: object

In [22]:
netflix["type"].unique()     #  Unique Values in a Column

array(['TV Show', 'Movie'], dtype=object)

In [24]:
netflix["rating"].unique()    #  Unique Values in a Column

array(['TV-MA', 'R', 'PG-13', 'TV-14', 'TV-PG', 'NR', 'TV-G', 'TV-Y', nan,
       'TV-Y7', 'PG', 'G', 'NC-17', 'TV-Y7-FV', 'UR'], dtype=object)

In [25]:
netflix[netflix["country"] == "West Germany"]    # Filtering dataFrames

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2757,s2758,Movie,Hitler - A Career,"Joachim Fest, Christian Herrendoerfer",NaN,West Germany,"February 10, 2017",1977,TV-MA,150 min,"Documentaries, International Movies",This documentary examines how Adolf Hitler's t...

In [27]:
netflix[netflix["country"] == "Nigeria"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
15,s16,Movie,Oct-01,Kunle Afolayan,"Sadiq Daba, David Bailie, Kayode Olaiya, Kehin...",Nigeria,"September 1, 2019",2014,TV-14,149 min,"Dramas, International Movies, Thrillers",Against the backdrop of Nigeria's looming inde...
43,s44,Movie,Òlòtūré,Kenneth Gyang,"Beverly Osu, Sharon Ooja, Omowunmi Dada, Pearl...",Nigeria,"October 2, 2020",2020,TV-MA,107 min,"Dramas, International Movies","In Lagos, a journalist goes undercover as a pr..."
116,s117,Movie,4th Republic,Ishaya Bako,"Kate Henshaw-Nuttal, Enyinna Nwigwe, Linda Eji...",Nigeria,"June 13, 2020",2019,TV-MA,120 min,"Dramas, International Movies, Thrillers",After the election-night murder of her campaig...
144,s145,Movie,93 Days,Steve Gukas,"Bimbo Akintola, Somkele Iyamah, Danny Glover, ...",Nigeria,"March 5, 2020",2016,TV-PG,121 min,"Dramas, International Movies, Thrillers",Heroic health workers fight to contain an Ebol...
243,s244,Movie,A Trip to Jamaica,Robert O. Peters,"Ayo Makun, Funke Akindele, Nse Ikpe-Etim, Dan ...",Nigeria,"December 13, 2019",2016,TV-MA,99 min,"Comedies, International Movies",A newly engaged couple's romantic vacation in ...
...,...,...,...,...,...,...,...,...,...,...,...,...
6992,s6993,Movie,The Wedding Party,Kemi Adetiba,"Adesua Etomi, Banky Wellington, Richard Mofe-D...",Nigeria,"April 15, 2017",2016,TV-14,101 min,"Comedies, Dramas, International Movies","As their big day arrives, a couple's lavish we..."
6993,s6994,Movie,The Wedding Party 2: Destination Dubai,Niyi Akinmolayan,"Enyinna Nwigwe, Daniella Down, Banky Wellingto...",Nigeria,"September 21, 2019",2017,TV-14,98 min,"Comedies, International Movies, Romantic Movies","In this sequel to the 2016 hit ""The Wedding Pa..."
7368,s7369,Movie,Up North,Tope Oshin,"Banky Wellington, Rahama Sadau, Kanayo O. Kana...",Nigeria,"October 18, 2019",2018,TV-14,99 min,"Dramas, International Movies",A pampered heir must complete a year of servic...
7582,s7583,Movie,When Love Happens,Seyi Babatope,"Weruche Opia, Gideon Okeke, Beverly Naya, O.C....",Nigeria,"February 26, 2020",2014,TV-14,109 min,"International Movies, Romantic Movies",Fed up with coordinating weddings for everyone...
7648,s7649,Movie,Wives on Strike,Omoni Oboli,"Omoni Oboli, Kenneth Okonkwo, Kalu Ikeagwu, Uc...",Nigeria,"December 6, 2019",2016,TV-14,92 min,"Comedies, Dramas, International Movies",A group of local women band together to save a...

In [28]:
netflix[netflix["director"] == "Gilbert Chan"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."

In [29]:
netflix[(netflix["country"] == "Singapore") & (netflix["rating"]  == "TV-MA")]  # & = and, | = or. canbe interchanged when neccesary

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2093,s2094,Movie,Fakkah Fuzz: Almost Banned,Michael McKay,Fakkah Fuzz,Singapore,"January 26, 2018",2018,TV-MA,61 min,Stand-Up Comedy,Stand-up comic Fakkah Fuzz mines cross-cultura...
2956,s2957,Movie,Imperfect,Steve Cheng,"Edwin Goh, Ian Fang Weijie, Phua Yida, Kimberl...",Singapore,"December 20, 2018",2012,TV-MA,95 min,"Action & Adventure, International Movies","After a brawl lands him in a Boys’ Home, a tee..."
3528,s3529,Movie,Lang Tong,Sam Loh,"William Lawandi, Angeline Yap, Vivienne Tseng,...",Singapore,"December 20, 2018",2015,TV-MA,82 min,"International Movies, Thrillers","After seducing a philandering con man, a rebel..."
4138,s4139,Movie,Miss J Contemplates Her Choice,Jason Lai,"Kit Chan, Xiang Yun, Bobby Tonelli, Shane Pow,...",Singapore,"December 20, 2018",2014,TV-MA,89 min,"Dramas, International Movies, Thrillers",The life of a radio talk-show host is turned u...
6949,s6950,TV Show,The Truth Seekers,NaN,"Chen Hanwei, Rebecca Lim, Desmond Tan, Yusuke ...",Singapore,"July 1, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A veteran cop forms an agency dedicated to sol...

DateTimes

In [30]:
netflix["computer_date"] = pd.to_datetime(netflix["date_added"])
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01

In [31]:
netflix["computer_date"]

0      2020-08-14
1      2016-12-23
2      2018-12-20
3      2017-11-16
4      2020-01-01
          ...
7782   2020-10-19
7783   2019-03-02
7784   2020-09-25
7785   2020-10-31
7786   2020-03-01
Name: computer_date, Length: 7787, dtype: datetime64[ns]

In [32]:
netflix["computer_date"].dropna()

0      2020-08-14
1      2016-12-23
2      2018-12-20
3      2017-11-16
4      2020-01-01
          ...
7782   2020-10-19
7783   2019-03-02
7784   2020-09-25
7785   2020-10-31
7786   2020-03-01
Name: computer_date, Length: 7777, dtype: datetime64[ns]

In [34]:
from datetime import datetime as dt

In [35]:
netflix["computer_date"].fillna(dt(2020, 1,1), inplace=True)  # na or Na or NaN = Not a Number or Null Value

In [36]:
netflix["unix_time"] = netflix["computer_date"].astype(int) # .astype allows you to change the data type of certain column

/var/folders/h_/xmwskr3j2hz97736rrwfbq680000gn/T/ipykernel_3389/149109278.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  netflix["unix_time"] = netflix["computer_date"].astype(int) # .astype allows you to change the data type of certain column

In [38]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000

Spliting Columns

In [39]:
netflix["date_added"].str.split(", ", expand=False) # we don't want this. NOTE - False

0          [August 14, 2020]
1        [December 23, 2016]
2        [December 20, 2018]
3        [November 16, 2017]
4          [January 1, 2020]
                ...
7782      [October 19, 2020]
7783         [March 2, 2019]
7784    [September 25, 2020]
7785      [October 31, 2020]
7786         [March 1, 2020]
Name: date_added, Length: 7787, dtype: object

In [40]:
netflix["date_added"].str.split(", ", expand=True) # we want this. NOTE - True

                 0     1
0        August 14  2020
1      December 23  2016
2      December 20  2018
3      November 16  2017
4        January 1  2020
...            ...   ...
7782    October 19  2020
7783       March 2  2019
7784  September 25  2020
7785    October 31  2020
7786       March 1  2020

[7787 rows x 2 columns]

In [41]:
netflix[["Date Part 1", "Date Part 2"]] = netflix["date_added"].str.split(", ", expand=True)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Date Part 1,Date Part 2
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000,September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000,March 1,2020

Renaming Columns

In [42]:
netflix.rename(columns={"Date Part 2": "Year"}, inplace=True)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Date Part 1,Year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000,September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000,March 1,2020

In [43]:
netflix.rename(columns={"Date Part 1": "Month Day"}, inplace=True)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Month Day,Year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000,September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000,March 1,2020

Dealingh with Null Value - Fill Na

In [44]:
netflix["cast"].fillna(value="no cast", inplace=True)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Month Day,Year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000,September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,no cast,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000,March 1,2020

In [45]:
netflix["director"].fillna(value="no cast", inplace=True)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Month Day,Year
0,s1,TV Show,3%,no cast,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,no cast,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000,September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,no cast,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,no cast,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000,March 1,2020

Applying a Function to Every Row

In [122]:
the_adder = lambda x: x + 210101    # just performing addition NOTED
the_adder(3535)

213636

In [46]:
netflix["genre_count"] = netflix["listed_in"].map(lambda x: len(x.split(", ")))
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Month Day,Year,genre_count
0,s1,TV Show,3%,no cast,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020,3
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016,2
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018,2
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017,3
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000,October 19,2020,2
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000,March 2,2019,3
7784,s7785,Movie,Zulu Man in Japan,no cast,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000,September 25,2020,3
7785,s7786,TV Show,Zumbo's Just Desserts,no cast,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000,October 31,2020,2
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,no cast,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000,March 1,2020,2

In [47]:
netflix["nonsensical_columns"] = netflix.apply(lambda x: len(x["cast"].split(",")) + len(x["listed_in"].split(",")), axis = 1)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Month Day,Year,genre_count,nonsensical_columns
0,s1,TV Show,3%,no cast,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1597363200000000000,August 14,2020,3,14
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1482451200000000000,December 23,2016,2,8
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1545264000000000000,December 20,2018,2,11
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1510790400000000000,November 16,2017,3,12
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1577836800000000000,January 1,2020,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1603065600000000000,October 19,2020,2,9
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,1551484800000000000,March 2,2019,3,11
7784,s7785,Movie,Zulu Man in Japan,no cast,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,1600992000000000000,September 25,2020,3,4
7785,s7786,TV Show,Zumbo's Just Desserts,no cast,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,1604102400000000000,October 31,2020,2,4
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,no cast,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,1583020800000000000,March 1,2020,2,3

GroupBy, Aggregation, and Sorting Values

In [48]:
netflix.groupby("country")["show_id"].count()

country
Argentina                                              50
Argentina, Brazil, France, Poland, Germany, Denmark     1
Argentina, Chile                                        1
Argentina, Chile, Peru                                  1
Argentina, France                                       1
                                                       ..
Venezuela                                               1
Venezuela, Colombia                                     1
Vietnam                                                 5
West Germany                                            1
Zimbabwe                                                1
Name: show_id, Length: 681, dtype: int64

In [49]:
netflix.groupby("country")["show_id"].count().reset_index()  # .rest_index(), turns it to a nice clear data frame

                                               country  show_id
0                                            Argentina       50
1    Argentina, Brazil, France, Poland, Germany, De...        1
2                                     Argentina, Chile        1
3                               Argentina, Chile, Peru        1
4                                    Argentina, France        1
..                                                 ...      ...
676                                          Venezuela        1
677                                Venezuela, Colombia        1
678                                            Vietnam        5
679                                       West Germany        1
680                                           Zimbabwe        1

[681 rows x 2 columns]

In [50]:
netflix_movies_by_country = netflix.groupby("country")["show_id"].count().reset_index().sort_values(by="show_id", ascending=False)   # False and True changes the order in Show_id
netflix_movies_by_country

                               country  show_id
549                      United States     2555
229                              India      923
462                     United Kingdom      397
291                              Japan      226
394                        South Korea      183
..                                 ...      ...
252  Indonesia, South Korea, Singapore        1
253          Indonesia, United Kingdom        1
254           Indonesia, United States        1
255                       Iran, France        1
680                           Zimbabwe        1

[681 rows x 2 columns]

Joins & Unions

In [51]:
second_dataset = pd.read_csv(pwd + "/netflix_titles_second.csv")
second_dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
349,s350,TV Show,Ainori Love Wagon: Asian Journey,NaN,"Becky, Audrey, Mayuko Kawakita, Shimon Okura",Japan,28-Mar-19,2018,TV-MA,2 Seasons,"International TV Shows, Reality TV, Romantic T...",Seven men and women board a pink bus in search...
350,s351,TV Show,Ainsley Eats the Streets,NaN,Ainsley Harriott,United Kingdom,12-Jul-19,2014,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...",Celebrity chef Ainsley Harriott embarks on a j...
351,s352,Movie,Ainu Mosir,Takeshi Fukunaga,"Kanto Shimokura, Debo Akibe, Emi Shimokura, To...","United States, Japan",17-Nov-20,2020,TV-PG,84 min,"Dramas, International Movies",A sensitive Ainu teen searches for a spiritual...
352,s353,Movie,Airplane Mode,César Rodrigues,"Larissa Manoela, André Luiz Frambach, Erasmo C...",United States,23-Jan-20,2020,TV-PG,97 min,"Comedies, International Movies, Romantic Movies","When Ana, an influencer, crashes her car while..."
353,s354,Movie,Aisa Yeh Jahaan,Biswajeet Bora,"Palash Sen, Ira Dubey, Yashpal Sharma, Tinnu A...",India,15-Oct-17,2015,TV-14,127 min,"Dramas, Independent Movies, International Movies","During a vacation with her parents, away from ..."

In [52]:
new_dataset = pd.concat([netflix, second_dataset])  # pd.concat means concatdinate = Joining two things or staking 2 data frames together
new_dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Month Day,Year,genre_count,nonsensical_columns
0,s1,TV Show,3%,no cast,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1.597363e+18,August 14,2020,3.0,14.0
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,1.482451e+18,December 23,2016,2.0,8.0
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,1.545264e+18,December 20,2018,2.0,11.0
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,1.510790e+18,November 16,2017,3.0,12.0
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,1.577837e+18,January 1,2020,1.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,s350,TV Show,Ainori Love Wagon: Asian Journey,NaN,"Becky, Audrey, Mayuko Kawakita, Shimon Okura",Japan,28-Mar-19,2018,TV-MA,2 Seasons,"International TV Shows, Reality TV, Romantic T...",Seven men and women board a pink bus in search...,NaT,NaN,NaN,NaN,NaN,NaN
350,s351,TV Show,Ainsley Eats the Streets,NaN,Ainsley Harriott,United Kingdom,12-Jul-19,2014,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...",Celebrity chef Ainsley Harriott embarks on a j...,NaT,NaN,NaN,NaN,NaN,NaN
351,s352,Movie,Ainu Mosir,Takeshi Fukunaga,"Kanto Shimokura, Debo Akibe, Emi Shimokura, To...","United States, Japan",17-Nov-20,2020,TV-PG,84 min,"Dramas, International Movies",A sensitive Ainu teen searches for a spiritual...,NaT,NaN,NaN,NaN,NaN,NaN
352,s353,Movie,Airplane Mode,César Rodrigues,"Larissa Manoela, André Luiz Frambach, Erasmo C...",United States,23-Jan-20,2020,TV-PG,97 min,"Comedies, International Movies, Romantic Movies","When Ana, an influencer, crashes her car while...",NaT,NaN,NaN,NaN,NaN,NaN
353,s354,Movie,Aisa Yeh Jahaan,Biswajeet Bora,"Palash Sen, Ira Dubey, Yashpal Sharma, Tinnu A...",India,15-Oct-17,2015,TV-14,127 min,"Dramas, Independent Movies, International Movies","During a vacation with her parents, away from ...",NaT,NaN,NaN,NaN,NaN,NaN

In [53]:
netflix_merged = pd.merge(left = new_dataset, right = netflix_movies_by_country, how ="inner", left_on = ["country"], right_on = ["country"]) # merge means join
netflix_merged

,show_id_x,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_date,unix_time,Month Day,Year,genre_count,nonsensical_columns,show_id_y
0,s1,TV Show,3%,no cast,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,1.597363e+18,August 14,2020,3.0,14.0,72
1,s209,Movie,A new Capitalism,no cast,no cast,Brazil,"June 12, 2018",2017,TV-14,76 min,"Documentaries, International Movies",Entrepreneurs worldwide explore alternatives t...,2018-06-12,1.528762e+18,June 12,2018,2.0,3.0,72
2,s219,TV Show,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,"November 11, 2020",2020,TV-14,1 Season,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...,2020-11-11,1.605053e+18,November 11,2020,2.0,4.0,72
3,s321,Movie,Afonso Padilha: Classless,"Junior Carelli, Rudge Campos",Afonso Padilha,Brazil,"September 3, 2020",2020,TV-MA,63 min,Stand-Up Comedy,Brazilian comedian Afonso Padilha dives into h...,2020-09-03,1.599091e+18,September 3,2020,1.0,2.0,72
4,s323,TV Show,Afronta! Facing It!,Juliana Vicente,"Loo Nascimento, Ingrid Silva, Rincon Sapiência...",Brazil,"October 31, 2020",2017,TV-PG,1 Season,"Docuseries, International TV Shows",This docuseries spotlights Afro-Brazilian thin...,2020-10-31,1.604102e+18,October 31,2020,2.0,28.0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7618,s7727,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art...",2016-07-01,1.467331e+18,July 1,2016,2.0,12.0,1
7619,s7751,TV Show,Yu-Gi-Oh! Arc-V,no cast,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,2018-05-01,1.525133e+18,May 1,2018,2.0,7.0,1
7620,s7760,TV Show,Zak Storm,no cast,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,2018-09-13,1.536797e+18,September 13,2018,1.0,8.0,1
7621,s7771,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...,2016-03-09,1.457482e+18,March 9,2016,3.0,9.0,1
7622,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,1.603066e+18,October 19,2020,2.0,9.0,1

Pivote and Melt

In [54]:
pivot_table = netflix.pivot_table(index="country", columns="type", values= "title", aggfunc='count', fill_value=0).reset_index()
pivot_table

type                                            country  Movie  TV Show
0                                             Argentina     34       16
1     Argentina, Brazil, France, Poland, Germany, De...      1        0
2                                      Argentina, Chile      1        0
3                                Argentina, Chile, Peru      1        0
4                                     Argentina, France      1        0
..                                                  ...    ...      ...
676                                           Venezuela      1        0
677                                 Venezuela, Colombia      1        0
678                                             Vietnam      5        0
679                                        West Germany      1        0
680                                            Zimbabwe      1        0

[681 rows x 3 columns]

In [55]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [56]:
df.melt(id_vars=['A'], value_vars=['B'],
        var_name='myVarname', value_name='myValname')

   A myVarname  myValname
0  a         B          1
1  b         B          3
2  c         B          5